.aboutMe {
  padding: 80px 15px;
  picture {
    display: block;
    padding: 0 10px;
    img {
      height: auto;
      margin: 0 0 3rem 0;
    }
  }
  .generic-title {
    text-align: left;
  }
  &-information {
    padding: 0;
    p {
      margin: 0 0 1rem 0;
      line-height: 1.7;
      font-size: 16px;
    }
    &-buttons {
      display: flex;
      padding: 0;
      margin: 48px 0 0 0;
      flex-wrap: wrap;
      div {
        width: auto;
        height: auto;
        display: flex;
        margin: 6px 0 0 0;
        &:first-child {
          margin: 6px 6px 0 0;
        }
        .btn {
          padding: 8px 24px;
          height: 36px;
        }
      }
    }
  }
}
//Skills
.skills {
  width: 100%;
  padding: 0;
}
.progressBar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  &-text {
    display: block;
    text-align: left;
    margin: 0 0 10px 0;
  }
  &-progress {
    width: 100%;
    height: 30px;
    border-radius: 30px;
    border: 1px solid var(--white);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px 0 0;
    div {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      transition: all 1.5s ease-in-out;
      transition-delay: 0.2s;
      &.HTML {
        background: #e96228;
      }
      &.CSS {
        background: #2862e9;
      }
      &.JAVASCRIPT {
        background: #efd81d;
      }
      &.VUE {
        background: #3fb27f;
      }
      &.GIT {
        background: #eb4d28;
      }
      &.SASS {
        background: #c76494;
      }
    }
  }
  &-percent {
    z-index: 11;
    font-weight: bold;
    color: var(--white);
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.6s ease-in-out;
    transition-delay: 0.2s;
    &.animate-percemt {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

//Tablet
@media screen and (min-width: 768px) {
  .progressBar {
    grid-template-columns: repeat(2, 1fr);
  }
}

//Desktop
@media screen and (min-width: 992px) {
  .aboutMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    picture {
      padding: 0 15px;
      width: 45%;
      img {
        margin: 0;
      }
    }
    &-information {
      padding: 0 15px;
      width: 40%;
    }
  }
}
