/*
  * Definicion de fuentes y colores
*/
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --green-two: #bac964;
  --teal: #20c997;
  --cyan: #17a2b8;
  --cyan-dark: #2c3e50;
  --white: #ffffff;
  --white-two: rgba(255, 255, 255, 0.4);
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #bac964;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #222222;
  --dark-two: #343a40;
  --dark-three: #333333;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
//Breakpoints
$breakpoint-sm: 420px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
