/*
  * Elementos desnudos de HTML
*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family-sans-serif);
  font-size: 16px;
  font-weight: lighter;
  line-height: 1;
  background: var(--dark);
  color: var(--white-two);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: #010101;
  text-decoration: none;
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
}
